.add-user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
  margin: 0 auto;

}

.enter-user-box {
  background-color: #1f1f2e;
  padding: 30px;
  border-radius: 7px;
}

.enter-user-box label {
  color: white;
  font-size: 20px;
}

.enter-user-box input[type="text"], .enter-user-box input[type="password"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.enter-user-box button[type="submit"] {
  background-color: #1f1f2e;
  opacity: 0.85;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.enter-user-box button[type="submit"]:hover {
  background-color: #9494b8;
}

