.add-movie-box {
 display: flex;
 justify-content: center;
 align-items: center;

}

.enter-movie-box {
  background-color: #1f1f2e;
  padding: 30px;
  border-radius: 7px;
  width: 400px;
  margin-bottom: 10px;

}

.enter-movie-box label {
  color: white;
  font-size: 20px;


}

.enter-movie-box input[type="email"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 5px;


}

.enter-movie-box button[type="submit"] {
  background-color: #1f1f2e;
  opacity: 0.85;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  display:flex;
  float:right;

}

.enter-movie-box button[type="submit"]:hover {
  background-color: #9494b8;
}

.form-group {
display: flex;
 justify-content: center;
 align-items: center;
}

