<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>401</title>
  <link rel="stylesheet" href="/static/general-style.css">
</head>
<body>
<div class="title">
    <h1> Unauthorized </h1>
</div>
<p> The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</p>

<div class="buttons-container">
   <a href="{{ url_for('user_bp.home') }}">
        <button class="top-right-button">Back to Homepage</button>
    </a>
</div
</body>
</html>