<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='add-movie-style.css') }}">
</head>
<body>

<div class="title">
    <h1>Add Movie</h1>
</div>

<div class="add-movie-box">
    <div class="enter-movie-box">
        <form method="POST" action="{{ url_for('movie_bp.add_movie', user_id=user_id) }}">
            <label for="movie">Enter Movie:</label>
            <input type="text" name="movie" id="movie" required> <button type="submit">Add</button>
        </form>
    </div>
</div>

<div class="button-container">
    <a href="{{ url_for('movie_bp.user_movies', user_id=user_id) }}">
        <button class="bottom-right-button">Back to my Movies</button>
    </a>

    <a href="{{ url_for('user_bp.home') }}">
        <button class="bottom-right-button">Back to Homepage</button>
    </a>

    <a href="{{ url_for('user_bp.list_users') }}">
        <button class="bottom-right-button">Back to all users</button>
    </a>
</div>

</body>
</html>
