<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='add-user-style.css') }}">
</head>
<body>

<div class="title">
    <h1>New User</h1>
</div>

<div class="add-user-box">
    <div class="enter-user-box">
        <form method="POST" action="{{ url_for('user_bp.add_user') }}">

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="{{ email }}" required><br>

            <label for="name">Username:</label>
            <input type="text" name="name" id="name" value="{{ username }}" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><button type="submit"> Create Account </button> <br>
        </form>
        <br>{{ error_message }}
    </div>
</div>

<div class="button-container">
    <a href="{{ url_for('user_bp.home') }}">
        <button class="bottom-right-button">Back to Homepage</button>
    </a>

    <a href="{{ url_for('user_bp.list_users') }}">
        <button class="bottom-right-button">Back to all users</button>
    </a>
</div>

</body>
</html>
