<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='update-password-style.css') }}">
</head>
<body>
<div class="title">
    <h1>Update Password</h1>
</div>

<div class="add-user-box">
    <div class="enter-user-box">
        <form method="POST" >
            <label for="current_password">Current password:</label>
            <input type="password" name="current_password" id="current_password" required><br>

            <label for="new_password">New password:</label>
            <input type="password" name="new_password" id="new_password" required>
            <button type="submit">Update</button> <br>
        </form>
        <br>{{ error_message }}
    </div>
</div>

<div class="button-container">
    <a href="{{ url_for('movie_bp.user_movies', user_id=user_id) }}">
        <button class="bottom-right-button">Back to my Movies</button>
    </a>

    <a href="{{ url_for('user_bp.home') }}">
        <button class="bottom-right-button">Back to Homepage</button>
    </a>

    <a href="{{ url_for('user_bp.list_users') }}">
        <button class="bottom-right-button">Back to all users</button>
    </a>
</div>

</body>
</html>
