<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link rel="stylesheet" href="/static/general-style.css">
    <link rel="stylesheet" href="/static/update-password-style.css">
</head>
<body>
<div class="title">
    <h1> Delete Account </h1>
</div>
<p> We're sorry to see you go! </p>
<div class="add-user-box">
            <div class="enter-user-box">
                <form method="POST">
                        <label for="password"> Password: </label>
                        <input type="password" name="password" id="password"  required><br>

                        <label for="confirm_password"> Confirm Password :</label>
                        <input type="password" name="confirm_password" id="confirm_password" required> <button type="submit" > Delete this account  </button> <br>
                </form>
                <br>{{error_message}}
            </div>
    </div>
<div class="button-container">
        <a href="{{ url_for('user_movies', user_id=user_id) }}">
            <button class="bottom-right-button"> Back to my Movies</button>
        </a>

        <a href="{{ url_for('home') }}">
            <button class="bottom-right-button"> Back to Homepage</button>
        </a>

        <a href="{{ url_for('list_users') }}">
            <button class="bottom-right-button"> Back to all users</button>
        </a>
    </div>
</body>
</html>