<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general-style.css') }}">
</head>
<body>
<div class="title">
    <h1>Password Reset instructions</h1>
</div>
    <p>You are receiving this email as you requested a password reset for your account in the Moviepedia app.</p>
    <p> Please login to the app with the following temporary password:</p>
    <p><strong>{{ new_password }}</strong></p>
    <p>Follow the instructions below to change your password:</p>
    <ol>
        <li>In the top right corner of your profile, click on "Settings".</li>
        <li>In "Manage Account", click on "Change Password" and use the temporary password to choose a new password.</li>
    </ol>
</body>
</html>