<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Manage User</title>
     <link rel="stylesheet" href="/static/general-style.css">

</head>
<body>
<div class="title">
    <h1> Manage Account </h1>
</div>
<div class="buttons-container">

    <form action="{{ url_for('delete_user', user_id=user_id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?')">
        <button type="submit"> Delete Account  </button>
    </form>

    <form action="{{ url_for('change_password', user_id=user_id) }}">
        <button type="submit"> Change Password  </button>
    </form>

    <a href="{{ url_for('logout') }}">
        <button> Logout </button></a>

    <a href="{{ url_for('user_movies', user_id=user_id) }}">
            <button> Back to my Movies</button>
        </a>
</div>



</body>
</html>