<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='movie-details-style.css') }}">
</head>
<body>

<div class="title">
    <h1>{{ movie['title'] }} </h1>
</div>
 {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<!-- MOVIE INFO -->
<div class="movie-details-box">
    <div class="movie-details">
        <h2 class ="second_title" id="details"> Movie Details </h2>
        <img src="{{ movie['poster'] }}" alt="Movie Poster"/>
        <div class ="movie_detail">({{ movie['year'] }})</div>
        <div class ="movie_detail"> {{ movie['rating'] }} </div>

        <div class ="movie_detail"> Director: {{ movie['director'] }}</div>
    </div>
</div>



<div class="reviews-section">

    <ul class="reviews-list">
        <h2 class ="second_title" id="review">  Reviews </h2>
        <!-- REVIEW INFO -->
        {% for review in reviews %}
        <li>
            <div class="review">
                <div class="review-author"> Author: {{ review['username'] }} </div><br>
                <div class="review-rating"> Author's rating for the movie: {{ review['rating'] }} </div><br>
                <div class="review-title"> {{ review['review_title'] }} - {{ review['likes'] }} likes </div><br>
                <div class="review-text"> {{ review['review_text'] }}</div><br>
                <div class="review-date"> {{ review['publication_date'] }} - {% if review['edit_date'] %}
        (edited at {{ review['edit_date']}}) {% endif %}<br>
                </div>


                <!-- LIKE/UNLIKE BUTTON -->
                {% if current_user.get_id() not in likes[review['review_id']] %}
                    <form action="{{ url_for('review_bp.like_review', user_id=current_user.get_id(), review_id=review['review_id'], movie_id=review['movie_id']) }}" method="post">
                        <button class="like-button" type="submit">Like</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('review_bp.like_review', user_id=current_user.get_id(), review_id=review['review_id'], movie_id=review['movie_id']) }}" method="post">
                        <button class="unlike-button" type="submit">Unlike</button>
                    </form>
                {% endif %}

                <!-- EDIT/DELETE BUTTON -->
                <div class="review-actions">
                    {% if current_user.get_id() == review['user_id'] %}
                        <form action="{{ url_for('review_bp.edit_review', user_id=review['user_id'], movie_id=movie['movie_id'], review_id=review['review_id']) }}">
                            <button class="" type="submit">Edit</button>
                        </form>
                        <form action="{{ url_for('review_bp.delete_review', user_id=review['user_id'], movie_id=movie['movie_id'], review_id=review['review_id']) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this review?')">
                            <button class="" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
                </div>
        </li>
            {% endfor %}
    </ul>
</div>

<div class="button-container">
    <a href="{{ url_for('movie_bp.user_movies', user_id=current_user.get_id()) }}">
        <button class="bottom-right-button">Back to my Movies</button>
    </a>

    <a href="{{ url_for('review_bp.add_review', user_id=current_user.get_id(), movie_id=movie['movie_id']) }}">
        <button class="bottom-right-button"> Add Review</button>
    </a>
    <a href="{{ url_for('user_bp.home') }}">
        <button class="bottom-right-button">Back to Homepage</button>
    </a>
</div>

</body>
</html>
