<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> User Movies </title>
</head>
<body>
<h1> {{ user_name[0] }} Movies </h1>
    <ul>
        {% for movie in movies[0] %}
             <li> {{ movie['title'] }} - {{ movie['director'] }} ({{ movie['year'] }})

                 <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie['id'])}}">
                    <button type="button" class="update-button"> Edit </button></a>

                 <form action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie['id']) }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="delete-link">Delete</button></form>
             </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_movie', user_id=user_id) }}">
    <button>Add Movie</button>
</a>
</body>
</html>