<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> User Movies </title>
</head>
<body>
<h1> {{ user_name[0] }} Movies </h1>
    <ul>
        {% for movie in movies[0] %}
             <li>{{ movie['title'] }} - {{ movie['director'] }} ({{ movie['year'] }})
                 <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie['id']) }}"> Edit </a>
                 <a href="/delete/{{ movie['id'] }}">Delete</a>
             </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_movie', user_id=user_id) }}">
    <button>Add Movie</button>
</a>
</body>
</html>