<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Users - MovieWeb App </title>
     <link rel="stylesheet" href="/static/general-style.css">
    <link rel="stylesheet" href="/static/user-list-style.css">
</head>
<body>
<div class="title">
    <h1> Users </h1>
</div>
<div class="users-list">
    <ul>
        {% for user in users %}
            <li>
                <a href="/login?username={{ user[0] }}">{{ user[0] }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="buttons-bar">
    <div class="buttons-container">
        <a href="{{ url_for('add_user') }}">
            <button>New User </button></a>

        <a href="{{ url_for('home') }}">
            <button> Back to Homepage </button></a>
    </div>
</div>
</body>
</html>