<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Movies</title>
    <link rel="stylesheet" href="/static/movies-grid-style.css">
</head>
<body>
    <div class="list-movies-title">
        <h1>{{ user_name }}'s Moviepedia</h1>
        <a href="{{ url_for('manage_account', user_id=user_id) }}" class="icon-link">
    <img src="{{ url_for('static', filename='settings_icon.png') }}" alt="Settings Icon" class="icon-image" />
        </a>

    </div>

<div>
    <ol class="movie-grid">
        {% for movie in movies %}
        <li>
            <div class="movie">
                <div class="movie-buttons">
                    <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie['id']) }}">
                        <button type="button" class="update-button">Edit</button>
                    </a>
                    <form action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie['id']) }}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="delete-link"> X </button>
                    </form>
                </div>
                <a href={{ movie['movie_link'] }}>
                    <div class="movie-rating">{{ movie['rating'] }}</div>
                    <img class="movie-poster" src={{movie['poster']}}/>
                </a>
                <div class="movie-title">{{ movie['title'] }} - {{ movie['year'] }}</div>

            </div>
        </li>
        {% endfor %}
    </ol>
</div>

<div class="button-container">
    <a href="{{ url_for('add_movie', user_id=user_id) }}">
        <button class="bottom-right-button">Add Movie</button>
    </a>
    <a href="{{ url_for('home') }}">
        <button class="top-right-button">Back to Homepage</button>
    </a>
    <a href="{{ url_for('list_users') }}">
        <button class="bottom-right-button">Back to all users</button>
    </a>
</div>

</body>
</html>
